@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: none;
  -webkit-text-fill-color: grey !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#contact {
  height: auto !important;
}

.container-for-contact {
  position: relative !important;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}

form {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1rem;
  position: relative;
  padding-bottom: 5rem;
}

/* Add this CSS to your stylesheet */
.success-message {
  position: fixed;
  top: 80%;
  left: 1rem;
  padding: 1.5rem;
  background-color: #44b566;
  color: rgb(255, 255, 255);
  border: none !important;
  outline: none !important;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: default;
  z-index: 70;
  animation: message-sent 1s ease-in-out;
}

.processing {
  position: fixed;
  top: 80%;
  left: 1rem;
  padding: 15px;
  background-color: #000000;
  color: aqua;
  border: none !important;
  outline: none !important;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: default;
  z-index: 70;
  animation: processing 0.4s ease-in-out;
}

.read-before-you-write {
  width: 85%;
  color: aqua;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 2rem;
  text-align: justify;
}

input {
  font-family: "ubuntu", "sans-serif";
  background-color: #383636;
  margin: 4px;
  width: 40vw;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding: 1.2rem 0;
  padding-left: 1.5rem;
  color: aqua;
}
input:focus {
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 3px solid aqua !important;
  color: aqua;
  outline: none !important;
}

textarea {
  padding: 1.2rem 0;
  padding-left: 1.5rem;
  font-family: "Ubuntu", "sans-serif";
  width: 40vw;
  margin-top: 3px;
  background-color: #383636;
  resize: none;
  color: aqua;
  outline: none !important;
  border-style: none;
}
textarea:focus {
  outline: none;
  color: aqua;
  border-bottom: 3px ridge aqua;
}

#button-2 {
  height: 40px;
  border: 2px solid aqua;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  font-size: 2rem;
  width: 100px;
  position: absolute;
  right: 10%;
  bottom: 0;
  color: aqua;
}
#button-2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: aqua;
  left: -10rem;
  transition: all 0.15s linear;
  z-index: -1;
}

#button-2:hover {
  color: #191919;
}
#button-2:hover::before {
  left: 0;
}

.name-input-flex {
  display: flex;
  width: 40vw;
  gap: 1rem;
  flex-direction: row;
  overflow: hidden !important;
}

#name {
  width: 20vw !important;
  margin: 0;
  margin-bottom: 3px;
}

#name2 {
  margin: 0;
  margin-bottom: 3px;
  width: 22vw !important;
}

#button-2:hover .slider2 {
  left: 0;
}

.contact-container-2 {
  font-weight: 500;
  font-family: "ubuntu", "sans-serif";
  border-right: 5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  padding: 20px;
  color: aqua;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #333;
  color: aqua;
}

.contact-icon i {
  font-size: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.contact-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.contact-info p {
  margin: 0;
  font-size: 16px;
}

@media screen and (max-width: 630px) {
  input {
    padding: 1rem 0;
    padding-left: 1.5rem;
  }
  .container-for-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 95vw !important;
    padding-bottom: 6rem;
  }
  .contact-container-2 {
    border: none;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    align-items: center;
  }
}
@media screen and (min-width: 630px) and (max-width: 901px) {
  .read-before-you-write {
    width: 67%;
  }
  form {
    width: 70vw !important;
    padding-bottom: 6rem;
  }
  .container-for-contact {
    gap: 0rem;
  }
}
@media screen and (max-width: 780px) {
  #contact {
    height: -moz-max-content !important;
    height: max-content !important;
    margin-bottom: 10rem;
  }
  .read-before-you-write {
    text-align: justify !important;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 94%;
  }
  input {
    width: 90%;
  }
  #button-2 {
    margin: 1rem;
  }
  textarea {
    width: 90%;
  }
  #name {
    margin: 0;
    margin-bottom: 4px;
    width: 50% !important;
  }
  #name2 {
    width: 50% !important;
    margin: 0;
    margin-bottom: 4px;
  }
  .name-input-flex {
    margin: 0;
    padding: 0;
    gap: 1rem;
    width: 90% !important;
    overflow: hidden;
    justify-content: space-between;
  }
}
@media screen and (max-width: 567px) {
  .success-message {
    position: fixed;
    top: 70%;
    left: 1rem;
    padding: 1.3rem;
    background-color: #44b566;
    color: white;
    outline: none !important;
    border: none !important;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: default;
    z-index: 70;
    animation: message-sent 1s ease-in-out;
  }
  .processing {
    left: 1rem;
    top: 70%;
    font-size: 1.5rem;
    outline: none !important;
    border: none !important;
  }
}
@media screen and (max-width: 423px) {
  .read-before-you-write {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=contact.css.map */